name: listen_it
description: An rx like extension methods on ValueListenable type, that lets you work with ValueNotifiers almost like with Streams. Previously published as functional_listener. 
version: 5.0.0
homepage: https://github.com/flutter-it/listen_it

environment:
  sdk: ">=3.5.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  lint:
